*{
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    font-size:1em;
    padding:0;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.types{
    width:400px;
    margin:20px auto;
    padding:20px;
    border:1px solid #999;
    border-radius:50px;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    position:relative;
    transition: all 0.5s ease;
    transform: scale(1);
    top:0;
}
.types:hover{
    border:2px solid blue;
    background:lightcyan;
    transition: all 0.5s ease;
    transform: scale(1.08);
    top:-4px;
}
.header{
    margin:10px auto;
    padding:10px;
    text-align: center;
    font-size:32px;
}